beautifulsoup4==4.6.3
certifi==2022.12.7
chardet==3.0.4
Django==2.0.7
django-bootstrap-breadcrumbs==0.9.1
django-bootstrap4==0.0.6
django-extensions==2.0.7
git+https://github.com/Aalto-LeTech/django-lti-login.git@master#egg=django-lti-login
django-settingsdict==1.0.1
idna==2.6
oauthlib==2.1.0
pep8==1.7.1
psycopg2-binary==2.7.5
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
sentry-sdk==0.4.3
six==1.11.0
urllib3==1.22
