{% extends 'submissions/base.html' %}

{% load bootstrap4 %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Kurssit" "submissions:courses" %}
{% endblock %}

{% block content %}

  <div class="col-md-6">

    <h1>Kurssit</h1>
    
    {% if courses %}
      <ul class="list-group">
        {% for course in courses %}
          <li class="list-group-item"> 
            <a href="{% url 'submissions:exercises' course.course_id %}">
              {{ course }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Käyttäjälle {{ user }} ei löytynyt yhtään kurssia.</p>
    {% endif %}
    
  </div>
        
{% endblock %}
