{% extends 'submissions/base.html' %}

{% load bootstrap4 %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Kurssit" "submissions:courses" %}
{% endblock %}

{% block content %}

  <div class="col-md-6 offset-md-3">

    <h1>Omat kurssit</h1>
    
    {% if courses %}
      <ul class="list-group">
        {% for course in courses %}
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <a href="{% url 'submissions:exercises' course.id course.course_id %}">
                  {{ course }}
                </a>
              </div>
              <div class="ml-auto">
                {{ course.base_course.lms_instance_id }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-info" role="alert">
        Käyttäjälle {{ user }} ei löytynyt yhtään kurssia.
      </div>
    {% endif %}
    
  </div>
        
{% endblock %}
