{% extends 'submissions/courses.html' %}

{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Exercises" "submissions:exercises" course.id course.course_id %}
{% endblock %}

{% block coursename %} {{ course.name }} {% endblock %}

{% block content %}

  <div class="col-md-8 offset-md-2">

    <ul class="nav nav-tabs m-4">
      <li class="nav-item">
        <a class="nav-link {% if not show_set_grading %} active {% endif %}"
           data-toggle="tab" href="#exercises">
          Exercises for grading
        </a>
      </li>
      {% if user_is_teacher %}
        <li class="nav-item">
          <a class="nav-link {% if show_set_grading %} active {% endif %}" data-toggle="tab"
             href="#set_grading">
            Add exercises
          </a>
        </li>
      {% endif %}
    </ul>

    <div class="tab-content">

      <div class="tab-pane fade {% if not show_set_grading %} show active {% endif %}" id="exercises">
        <div class="card card-body bg-light">

          {% for exercise in exercises %}

            <ul class="list-group exercises">
              <li class="list-group-item {{ exercise.exercise_id }}">
                <div class="d-flex align-items-center">

                  <div class="flex-grow-1">
                    {{ exercise }}
                  </div>


                  <div class="ml-auto">

                    <a class="btn btn-primary btn-sm" href="{% url 'submissions:grading' exercise.id exercise.exercise_id %}" role="button">
                      My grading list
                    </a>

                    <a class="btn btn-primary btn-sm" href="{% url 'submissions:submissions' exercise.id exercise.exercise_id %}" role="button">
                      All submissions
                    </a>

                {% if user_is_teacher %}
                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ exercise.exercise_id }}">
                      Settings
                      {% if exercise.error_state %}
                        <span class="badge badge-danger">Error</span>
                      {% endif %}
                    </button>

                  </div> <!-- buttons -->
                </div> <!-- d-flex -->


                <div class="collapse mt-4" id="{{ exercise.exercise_id }}">

                    {% if exercise.error_state %}
                    <div class="card card-body bg-light">
                      <div class="alert alert-danger" role="alert">
                        <p>{{ exercise.error_state }}</p>
                        <hr>
                        <p>This is probably caused by a temporary problem if
                        you have not modified exercise configuration in
                        Plussa. Select "Ignore warning...".
                        <hr>
                        <p>Sometimes reason could be that this particular
                        exercise ID doesn't exist in Plussa anymore. If you
                        are sure about it, select "Delete this exercise..."
                      </div>
                      <form action="{% url 'submissions:handle_error' course.id course.course_id exercise.id %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form error_handler %}
                        <button type="submit" class="btn btn-primary">
                          OK
                        </button>
                      </form>
                    </div>
                    {% endif %}


                  <div class="card card-body bg-light">
                    <form action="{% url 'submissions:update_exercise' course.id course.course_id exercise.id %}" method="post" class="form" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form exercise.form %}
                      <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#delete_{{ exercise.exercise_id }}">
                        Delete
                      </button>
                      <button type="submit" class="btn btn-success float-right">
                        Update
                      </button>
                    </form>

                  </div>
                </div> <!-- collapse -->


                <div class="collapse mt-4" id="delete_{{ exercise.exercise_id }}">

                  <div class="alert alert-danger" role="alert">
                    This exercise and all assessments related to it will be
                    removed. Are you sure?
                  </div>

                  <form action="{% url 'submissions:grading_off' course.id course.course_id exercise.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#delete_{{ exercise.exercise_id }}">
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-danger float-right">
                      Delete
                    </button>
                  </form>

                </div> <!-- collapse -->

                {% endif %}

              </li>
            </ul>

          {% empty %}
            <div class="alert alert-info" role="alert">
              No exercises added yet
            </div>
          {% endfor %}

        </div> <!-- tab-pane -->
      </div> <!-- card -->

      {% if user_is_teacher %}
        <div class="tab-pane fade {% if show_set_grading %} show active {% endif %}" id="set_grading">
          <div class="card card-body m-2 bg-light">

            <form action="{% url 'submissions:get_exercises' course.id course.course_id %}" method="post" class="form">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-lg m-4">Update course content</button>
              <small>Click the button to update exercise list. Automated update occurs only once a day at midnight. </small>
            </form>

            <form action="{% url 'submissions:grading_on' course.id course.course_id %}" method="post" class="form" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary">Add</button>
            </form>

          </div> <!-- tab-pane -->
        </div> <!-- card -->
      {% endif %}

    </div> <!-- tab-content -->

  </div> <!-- column -->

{% endblock %}
