{% extends referer_template %}

{% load bootstrap4 %}
{% load pygmentify %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Palaute" "submissions:feedback" exercise_id sub_id %}
{% endblock %}


{% block content %}

  <div class="col-xl-6">

    {% for obj in sub_data %}
      {% if obj.title %}
        <span style="font-weight: bold;">
          {{ forloop.counter}}:
          {{ obj.title }}
        </span>
      {% endif %}

      <div class="p-2">
        <a href="{{ obj.url }}">{{ obj.url }}</a>
        <div style="white-space:pre-wrap;">{{ obj.text }}</div>
      </div>


      {% if obj.code %}
        {% pygment %}
          <pre lang="python">{{ obj.code }}</pre>
        {% endpygment %}

        <h5>PEP8 tyylitarkastuksen tulokset</h5>
        {% if obj.style %}
          <pre>{{ obj.style }}</pre>
        {% else %}
          <p>Tyylivirheitä ei löytynyt.</p>
        {% endif %}

      {% endif %}

    {% endfor %}

  </div>
  
  
  <div class="col-xl-6">

    <form method="post" style="position: sticky;top: 50px;">
      {% csrf_token %}
      {% bootstrap_form form %}
      <a class="btn btn-warning" href="{% url referer_url feedback.exercise.exercise_id %}" role="button">Peruuta</a>
      <button type="submit" class="btn btn-success float-right">Tallenna</button>
    </form>

  </div>
  
{% endblock %}