{% extends referer_template %}

{% load bootstrap4 %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Feedback form" "submissions:feedback" exercise.id exercise.exercise_id form.instance.sub_id %}
{% endblock %}

{% block title %}{{ form.instance.sub_id }}{% endblock %}

{% block content %}

  <div class="col-xl-6">

    <div class="card mb-4">

      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="collapse" data-target="#sub_info">Palauttajat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ inspect_url }}" target="_blank">Tarkastele Plussassa</a>
          </li>
        </ul>
      </div> <!-- card-header -->

      <div id="sub_info" class="collapse show">
        <div class="card-body">
          <ul class="list-unstyled">
            {% for student in form.instance.students.all %}
              <li>{{ student }}</li>
            {% endfor %}
          </ul>
        </div>  <!-- card-body -->
      </div> <!-- sub_info -->

    </div> <!-- card -->


    {% for obj in sub_data %}
      {% if obj.title %}
        <span style="font-weight: bold;">
          {{ forloop.counter}}:
          {{ obj.title }}
        </span>
      {% endif %}

      <div class="p-2">
        {% if obj.text %}
          <div style="white-space:pre-wrap;">{{ obj.text }}</div>
        {% endif %}
        {% if obj.url %}
          <a href="{{ obj.url }}">{{ obj.url }}</a>
        {% endif %}
      </div>

      {% if obj.code %}
        {% autoescape off %}
          {{ obj.code }}
        {% endautoescape %}
      {% endif %}
      {% if obj.style %}
        <h5>PEP8 tyylitarkastuksen tulokset</h5>
        <pre>{{ obj.style }}</pre>
      {% endif %}

    {% endfor %}


    {% if grading_data.grading_data %}
      {% autoescape off %}

        <p>{{ grading_data.grading_data }}</p>
        <p>{{ grading_data.feedback }}</p>

      {% endautoescape %}
    {% endif %}



  </div>
  
  
  <div class="col-xl-6">

    <form method="post" style="position: sticky;top: 50px;">
      {% csrf_token %}
      {% bootstrap_form form %}
      <a class="btn btn-warning" href="{% url referer_url exercise.id exercise.exercise_id %}" role="button">Peruuta</a>
      <button type="submit" class="btn btn-success float-right">Tallenna</button>
    </form>

  </div>
  
{% endblock %}