{% extends 'submissions/base.html' %}
{% load bootstrap4 %}

{% block content %}

  <div class="col-md-6">
    {% if gradinglist %}
      <h1> Omat arvosteltavat </h1>
      <ul class="list-group">
        {% for sub in gradinglist %}
        
          <li class="list-group-item">
          
            <a href="{%url 'submissions:feedback' sub.exercise.exercise_id sub.sub_id %}">
              {{ sub }}
            </a>
            
            
            {% for student in sub.students.all %}
              {{ student }}
            {% endfor %}
            
            
            {% if sub.status == sub.READY %}
              <div class="alert alert-warning" role="alert">
                VALMIS
              </div>
            {% elif sub.status == sub.DRAFT %}
              <div class="alert alert-danger" role="alert">
                LUONNOS
              </div>
            {% elif sub.released %}
              <div class="alert alert-success" role="alert">
                JULKAISTU
              </div>
            {% endif %}
            
            
          </li>
          
        {% endfor %}
      </ul>
      
      
      <a class="btn btn-primary" href="{% url 'submissions:release' exercise_id %}" role="button">
      Julkaise arvostelut
      </a>
      
      
      {% else %}
        <div class="alert alert-info" role="alert">
          Ei arvosteltavia palautuksia.
        </div>
    {% endif %}
    
  </div> <!-- column -->


  <div class="col-md-6">


<!--
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#submissions_all">
      Näytä kaikki palautukset
    </button>


    <div class="collapse mt-4" id="submissions_all">
-->

    <h1> Palautukset joilla ei vielä ole arvostelijaa </h1>
    <form method="post" action="{% url 'submissions:set_grader' exercise_id %}">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="card card-body">
          {% bootstrap_form form %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Lisää omalle listalle</button>
    </form>


   <!-- </div> collapse -->
  </div> <!-- column -->

{% endblock %}
