{% extends 'submissions/base.html' %}
{% load bootstrap4 %}

{% block content %}

  <div class="col-md-6">

    <h1> Arvosteltavat tehtävät </h1>
    
    {% if exercises %}
      <ul class="list-group">
      
        {% for exercise in exercises %}
          <li class="list-group-item"> 
            <a href="{% url 'submissions:submissions' exercise.exercise_id %}">
              {{ exercise }}
            </a>
          </li>
        {% endfor %}
        
      </ul>
    {% else %}
      <p>Yhtään tehtävää ei ole vielä lisätty.</p>
    {% endif %}
        
  </div>
        
{% endblock %}
