{% extends 'submissions/base.html' %}
{% load bootstrap4 %}

{% block content %}

  
  
  
  <div class="col-md-12">
  
  
<!--
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#submissions_all">
      Näytä kaikki palautukset
    </button>
    
    
    <div class="collapse mt-4" id="submissions_all">
-->

    <h1> Kaikki arvosteltavat palautukset </h1>
    {% if form.forms %}
        <form method="post" action="{% url 'submissions:submissions' exercise_id %}">
          {% csrf_token %}
          {{ form.management_form }}
            {% for sub_form in form %}
              <div class="form-group">
                {{ sub_form.id }}
                {{ sub_form.instance.sub_id }}
                {% for student in sub_form.instance.students.all %}
                  {{ student }}
                {% endfor %}
                {{ sub_form.grader }}
              </div>
            {% endfor %}
          <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
        </form>
    {% else %}
      <div class="alert alert-info" role="alert">
        Ei palautuksia.
      </div>
    {% endif %}


    
   <!-- </div> collapse -->
  </div> <!-- column -->
  
{% endblock %}
