{% extends 'submissions/exercises.html' %}

{% load bootstrap4 %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Kaikki palautukset" "submissions:submissions" exercise.exercise_id %}
{% endblock %}

{% block content %}

  <div class="col-md-8 offset-md-2">

    <h2> Kaikki arvosteltavat palautukset </h2>
    <h4> {{ exercise.name }} </h4>

    <h6> Arvosteltu: {{ ready_count }} / {{ feedback_count }} </h6>


    <div class="d-flex justify-content-around m-4">
    {% if user_is_teacher %}
      {% if form.forms %}
        <form method="post" action="{% url 'submissions:json' exercise.id exercise.exercise_id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">
            Luo json julkaisua varten
          </button>
        </form>
        <form method="post" action="{% url 'submissions:undo' exercise.id exercise.exercise_id%}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">
            Peruuta edellinen julkaisu
          </button>
        </form>

        <a class="btn btn-primary" href="{% url 'submissions:csv' exercise.id exercise.exercise_id %}" role="button">
          Arvostelutilanne csv -tiedostona
        </a>

      {% endif %}

      <a class="btn btn-primary" href="{% url 'submissions:update_submissions' exercise.id exercise.exercise_id %}" role="button">
        Hae uusimmat palautukset
      </a>

    {% endif %}
    </div> <!-- d-flex -->


    {% if form.forms %}
        <form method="post" action="{% url 'submissions:submissions' exercise.id exercise.exercise_id %}">
          {% csrf_token %}
          {{ form.management_form }}

          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Opiskelijanro ja s-posti</th>
                  <th scope="col">Arvostelun tila</th>
                  <th scope="col">Arvostelija</th>
              </tr>
            </thead>

            <tbody>
              {% for sub_form in form %}
              <tr>
                <td>
                  {{ sub_form.id }}
                  <a href="{%url 'submissions:feedback' exercise.id exercise.exercise_id sub_form.instance.id sub_form.instance.sub_id %}">
                    {{ sub_form.instance.sub_id }}
                  </a>
                </td>

                <td>
                  {% for student in sub_form.instance.students.all %}
                    <div>
                        {{ student }}
                    </div>

                  {% endfor %}
                </td>

                <td>
                    {% if sub_form.instance.released %}
                      <div class="alert alert-success" role="alert">
                        JULKAISTU
                      </div>
                    {% elif sub_form.instance.status == sub_form.instance.READY %}
                      <div class="alert alert-warning" role="alert">
                        VALMIS
                      </div>
                    {% elif sub_form.instance.status == sub_form.instance.DRAFT %}
                      <div class="alert alert-danger" role="alert">
                        LUONNOS
                      </div>

                    {% else %}
                      <div class="alert alert-info" role="alert">
                        EI ALOITETTU
                      </div>
                    {% endif %}
                </td>

                <td>
                  {{ sub_form.grader }}
                </td>

              </tr>
            {% endfor %}
            </tbody>
          </table>

          <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
        </form>

    {% endif %}


  </div> <!-- column -->
  
{% endblock %}
