{% extends 'submissions/base.html' %}
{% load bootstrap4 %}

{% block content %}

  {% if submissions %}
    <ul clas="list-group">
      {% for sub in submissions %}
      
        <li class="list-group-item">
        
          <a href="{%url 'submissions:feedback' sub.exercise.exercise_id sub.sub_id %}">
            {{ sub }}
          </a>
          
          {% for student in sub.students.all %}
            {{ student }}
          {% endfor %}
          
          {% if sub.done %} 
            ARVOSTELTU!
          {% endif %}
          
        </li>
        
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
