<!DOCTYPE html>
<html lang="fi">

{% load bootstrap4 %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <title>Grading Helper</title>

  </head>


  <body>
    <div class="container">
    
    <div class="row">
  
      {% block content %}
      {% endblock %}
      
    </div>
    </div>
  </body>
  
</html>
